<% var rootPath = '../'; %>

<%- include(rootPath + 'layouts/user/libs'); %>
<%- include(rootPath + 'layouts/user/sidebar'); %>
<div class="col-sm-10" style="width:auto;">
    <div class="main">
        <h1 style="font-size: 40px;">By Language</h1>
        <br>
        <div class="row">
            <div class="col-sm-4" style="font-size: 20px">
                Languages
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2">
                <p>Aboriginal</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <p>Afrikaans</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <p>Akan</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <p>Albanian</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <p>Arabic</p>
            </div>
        </div>
        <%- include(rootPath + 'layouts/user/sidebarfooter'); %>

    </div>
</div>
</body>
</html>