<% var rootPath = '../'; %>

<%- include(rootPath + 'layouts/user/libs'); %>
<%- include(rootPath + 'layouts/user/sidebar'); %>
            <div class="col-sm-10" style="width:auto;">
                <div class="main">
                    <h1 style="font-size: 40px;">Music</h1>
                    <br>
                    <div class="container-fluid">
                        <h3 style="margin-left: -18px">Radio Conversation</h3>
                        <div class="row">
                            <div class="col-sm-12" style="width: auto;">

                                <div class="col-sm-4">
                                    <img src="public/img/download (1).jpg" class="img-responsive thumbnail">
                                </div>
                                <div class="col-sm-4">
                                    <img src="public/img/download (2).jpg" class="thumbnail">
                                </div>
                                <div class="col-sm-4">
                                    <img src="public/img/download (1).jpg" class="thumbnail">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4" style="font-size: 20px">
                            Explore
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3" style="list-style: none">
                                    <li>00's</li>
                                    <li>50's</li>
                                    <li>60's</li>
                                    <li>70's</li>
                                    <li>80's</li>
                                    <li>90's</li>
                                    <li>Adult Hits</li>
                                    <li>Blues Music</li>
                                    <li>Children's Music</li>
                            </div>
                            <div class="col-sm-3" style="list-style: none">
                                <li>Classic Hits</li>
                                <li>Classic Rock Music</li>
                                <li>Classical Music</li>
                                <li>College Radio</li>
                                <li>Country Music</li>
                                <li>Dance & Electronic</li>
                                <li>Easy Listening</li>
                                <li>Blues Music</li>
                                <li>Folk Music</li>
                            </div>
                            <div class="col-sm-3" style="list-style: none">
                                <li>Classic Hits</li>
                                <li>Classic Rock Music</li>
                                <li>Classical Music</li>
                                <li>College Radio</li>
                                <li>Country Music</li>
                                <li>Dance & Electronic</li>
                                <li>Easy Listening</li>
                                <li>Blues Music</li>
                                <li>Folk Music</li>
                            </div>
                            <div class="col-sm-3" style="list-style: none">
                                <li>Classic Hits</li>
                                <li>Classic Rock Music</li>
                                <li>Classical Music</li>
                                <li>College Radio</li>
                                <li>Country Music</li>
                                <li>Dance & Electronic</li>
                                <li>Easy Listening</li>
                                <li>Blues Music</li>
                                <li>Folk Music</li>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4" style="font-size: 20px">
                           Top Stations
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="public/img/download (1).jpg" class="img-responsive thumbnail">
                        </div>
                        <div class="col-sm-2" style="margin-top:24px;">
                            <h5> City FM 90</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="public/img/download (1).jpg" class="img-responsive thumbnail">
                        </div>
                        <div class="col-sm-2" style="margin-top:24px;">
                            <h5> City FM 90</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="public/img/download (1).jpg" class="img-responsive thumbnail">
                        </div>
                        <div class="col-sm-2" style="margin-top:24px;">
                            <h5> City FM 90</h5>
                        </div>
                    </div>
                   
                    <%- include(rootPath + 'layouts/user/sidebarfooter'); %>
                </div>
            </div>
       </body>
</html>