<% var rootPath = '../'; %>

<%- include(rootPath + 'layouts/user/libs'); %>
<%- include(rootPath + 'layouts/user/sidebar'); %>
            <div class="col-sm-10" style="width:auto;">
                <div class="main">
                    <h1 style="font-size: 40px;">News</h1>
                    <br>
                    <div class="row">
                        <div class="col-sm-4" style="font-size: 20px">
                            Explore
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3" style="list-style: none">
                                <li>Arts & Entertainment News</li>
                                <li>Business News</li>
                                <li>Community News</li>
                            </div>
                            <div class="col-sm-3" style="list-style: none">
                                <li>Informative News</li>
                                <li>News Organizations</li>
                                <li>Noticias</li>
                            </div>
                            <div class="col-sm-3" style="list-style: none">
                                <li>Political News</li>
                                <li>Political News</li>
                                <li>Technology News</li>
                            </div>
                            <div class="col-sm-3" style="list-style: none">
                                <li>TV News Networks</li>
                                <li>US News</li>
                                <li>World News</li>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4" style="font-size: 20px">
                            Events
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="public/img/download (1).jpg" class="img-responsive thumbnail">
                        </div>
                        <div class="col-sm-4"  style="margin-top:24px;">
                            <p> La Salle Explorers at VCU Rams
                                <br> 11PM</p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4" style="font-size: 20px">
                            Podcasts
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="public/img/download (1).jpg" class="img-responsive thumbnail">
                        </div>
                        <div class="col-sm-10"  style="margin-top:24px;">
                            <strong> On The Media</strong>
                                <br> <p>The Peabody Award-winning On the Media podcast
                                is your guide to examining how the media sausage is made.
                                Hosts Brooke Gladstone and Bob Garfield examine threats to free speech
                                and government transparency, cast a skeptical eye on media coverage of the...
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="public/img/download (1).jpg" class="img-responsive thumbnail">
                        </div>
                        <div class="col-sm-10"  style="margin-top:24px;">
                            <strong> On The Media</strong>
                            <br> <p>The Peabody Award-winning On the Media podcast
                                is your guide to examining how the media sausage is made.
                                Hosts Brooke Gladstone and Bob Garfield examine threats to free speech
                                and government transparency, cast a skeptical eye on media coverage of the...
                            </p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4" style="font-size: 20px">
                            Shows
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="public/img/download (1).jpg" class="img-responsive thumbnail">
                        </div>
                        <div class="col-sm-10"  style="margin-top:24px;">
                            <strong>Morning Editions</strong>
                            <br> <p>The Peabody Award-winning On the Media podcast
                                is your guide to examining how the media sausage is made.
                                Hosts Brooke Gladstone and Bob Garfield examine threats to free speech
                                and government transparency, cast a skeptical eye on media coverage of the...
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="public/img/download (1).jpg" class="img-responsive thumbnail">
                        </div>
                        <div class="col-sm-10"  style="margin-top:24px;">
                            <strong>Morning Editions</strong>
                            <br> <p>The Peabody Award-winning On the Media podcast
                                is your guide to examining how the media sausage is made.
                                Hosts Brooke Gladstone and Bob Garfield examine threats to free speech
                                and government transparency, cast a skeptical eye on media coverage of the...
                            </p>
                        </div>
                    </div>
                    <%- include(rootPath + 'layouts/user/sidebarfooter'); %>
                </div>
            </div>
        </body>
</html>