<% var rootPath = '../'; %>

<%- include(rootPath + 'layouts/user/libs'); %>
<%- include(rootPath + 'layouts/user/sidebar'); %>
            <div class="col-sm-10" style="width:auto;">
                <div class="main">
                    <h1 style="font-size: 40px;">Podcasts</h1>
                    <br>
                    <div class="row">
                        <div class="col-sm-4" style="font-size: 20px">
                            Explore
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3" style="list-style: none">
                                <li>Podcast Networks</li>
                                <li>Arts & Culture Podcasts</li>
                                <li>Business & Economics Podcasts</li>
                                <li>Comedy Podcasts</li>
                                <li>Education Podcasts</li>
                                <li>Fantasy & Science Fiction...</li>
                            </div>
                            <div class="col-sm-3" style="list-style: none">
                                <li>Food & Cooking Podcasts</li>
                                <li>Health & Wellness Podcasts</li>
                                <li>History Podcasts</li>
                                <li>Kids & Family Podcasts</li>
                                <li>Media & Entertainment Podcasts</li>
                                <li>Music Podcasts</li>
                            </div>
                            <div class="col-sm-3" style="list-style: none">
                                <li>News & Politics Podcasts</li>
                                <li>Paranormal Podcasts</li>
                                <li> Philosophy Podcasts</li>
                                <li>Podcasts en Español</li>
                                <li>Radio Drama Podcasts</li>
                                <li>Religion & Spirituality Podca...</li>
                            </div>
                            <div class="col-sm-3" style="list-style: none">
                                <li>Science Podcasts</li>
                                <li>Sports & Recreation Podcasts</li>
                                <li>Storytelling Podcasts</li>
                                <li>Talk Show Replays</li>
                                <li>Technology Podcasts</li>
                                <li>True Crime Podcasts</li>
                            </div>
                        </div>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <%- include(rootPath + 'layouts/user/sidebarfooter'); %>

                    </div>
                </div>
            </div>
        </body>
</html>