<% var rootPath = '../'; %>

<%- include(rootPath + 'layouts/user/libs'); %>
<%- include(rootPath + 'layouts/user/sidebar'); %>

            <div class="col-sm-10" style="width:auto;">
                <div class="main">
                    <h1 style="font-size: 40px;">Sports</h1>
                    <br>
                    <div class="row">
                        <div class="col-sm-4" style="font-size: 20px">
                            Popular In Sports
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="public/img/download (1).jpg" class="img-responsive thumbnail">
                            <br><p style="text-align: center; margin-top:-22px">NFL</p>
                        </div>
                        <div class="col-sm-2">
                            <img src="public/img/download (1).jpg" class="img-responsive thumbnail">
                            <br><p style="text-align: center;margin-top: -22px">NBA</p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4" style="font-size: 20px">
                            Events
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="public/img/download (1).jpg" class="img-responsive thumbnail">
                        </div>
                        <div class="col-sm-4"  style="margin-top:24px;">
                            <p> La Salle Explorers at VCU Rams
                               <br> 11PM</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="public/img/download (1).jpg" class="img-responsive thumbnail">
                        </div>
                        <div class="col-sm-4"  style="margin-top:24px;">
                            <p> La Salle Explorers at VCU Rams
                                <br> 11PM</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="public/img/download (1).jpg" class="img-responsive thumbnail">
                        </div>
                        <div class="col-sm-4"  style="margin-top:24px;">
                            <p> La Salle Explorers at VCU Rams
                                <br> 11PM</p>
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-sm-4" style="font-size: 20px">
                            Explore
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3" style="list-style: none">
                                <li>College Basketball</li>
                                <li>College Football</li>
                                <li>Deportes</li>
                                <li>Fantasy Sports</li>
                            </div>
                            <div class="col-sm-3" style="list-style: none">
                                <li>NHL</li>
                                <li>MLB</li>
                                <li> NBA</li>
                            </div>
                            <div class="col-sm-3" style="list-style: none">
                                <li>NFL</li>
                                <li>Soccer</li>
                                <li>Sports Talk & News</li>
                            </div>
                            <div class="col-sm-3" style="list-style: none">
                                <li>Women's College Basketball</li>
                                <li>WNBA</li>
                                <li>More Sports and Teams</li>
                            </div>
                        </div>
                    </div>
                   <%- include(rootPath + 'layouts/user/sidebarfooter'); %>

                </div>
            </div>
</body>
</html>