<% var rootPath = '../'; %>

<%- include(rootPath + 'layouts/user/libs'); %>
<%- include(rootPath + 'layouts/user/sidebar'); %>
            <div class="col-sm-10" style="width:auto;">
                <div class="main">
                    <h1 style="font-size: 40px;">Talk</h1>
                    <br>
                    <div class="row">
                        <div class="col-sm-4" style="font-size: 20px">
                            Explore
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3" style="list-style: none">
                                <li>Arts & Culture</li>
                                <li>Business</li>
                                <li>Children's Topics & Stories</li>
                                <li>Comedy</li>
                                <li>Conservative Talk</li>
                                <li>Entertainment</li>
                            </div>
                            <div class="col-sm-3" style="list-style: none">
                                <li>Festival de Cannes</li>
                                <li>Film</li>
                                <li>Health, Home & Life</li>
                                <li>Ideas</li>
                                <li>Language Learning</li>
                                <li>Mindfulness</li>
                            </div>
                            <div class="col-sm-3" style="list-style: none">
                                <li>Music Talk</li>
                                <li>News</li>
                                <li>Public Radio</li>
                                <li>Podcasts</li>
                                <li>Progressive Talk</li>
                                <li>Religion & Spirituality</li>
                            </div>
                            <div class="col-sm-3" style="list-style: none">
                                <li>Science</li>
                                <li>Sci-Fi</li>
                                <li>Technology News</li>
                                <li>Television</li>
                                <li>Video Games</li>
                                <li>World Talk</li>
                                </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4" style="font-size: 20px">
                            Top Stations
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="public/img/download (1).jpg" class="img-responsive thumbnail">
                        </div>
                        <div class="col-sm-2" style="margin-top:24px;">
                            <h5> City FM 90</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="public/img/download (1).jpg" class="img-responsive thumbnail">
                        </div>
                        <div class="col-sm-2" style="margin-top:24px;">
                            <h5> City FM 90</h5>
                        </div>
                    </div>
                   <%- include(rootPath + 'layouts/user/sidebarfooter'); %>
                </div>
            </div>
       </body>
</html>