<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" style="width: auto">
            <div class="col-sm-2">
                <div class="sidenav">
                    <div class="sidebar-header">
                        <h3>Logo</h3>
                    </div>
                    <ul class="list-unstyled components">
                        <li>
                            <a href="search.php">Search<i class="fa fa-search"
                                                          style="font-size:16px;margin-left: 15px"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/home">Home</a>
                        </li>
                        <li>
                            <a href="/localradio">Local Radio</a>
                        </li>
                        <li>
                            <a href="/recents">Recents</a>
                        </li>
                        <li>
                            <a href="/trending">Trending</a>
                        </li>
                        <li>
                            <a href="/music">Music</a>
                        </li>
                        <li>
                            <a href="/sports">Sports</a>
                        </li>
                        <li>
                            <a href="/news">News</a>
                        </li>
                        <li>
                            <a href="/talk">Talk</a>
                        </li>
                        <li>
                            <a href="/podcasts">Podcasts</a>
                        </li>
                        <li>
                            <a href="/bylocation">By Location</a>
                        </li>
                        <li>
                            <a href="/bylanguage">By Language</a>
                        </li>
                    </ul>
                    <br>
                    <br>
                    <ul class="list-unstyled components">
                        <li>
                            <a href="/login">Sign In</a>
                        </li>
                        <li>
                            <a href="/registration">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>
