<footer class="page-footer font-small stylish-color-dark pt-4">
    <div class="container-fluid">
        <div class="row" style="fo">
            <div class="col-sm-12" style="padding-top: 40px;">
                <div class="col-sm-2">
                    <h3 style="color: black;">Logo</h3>
                </div>
                <div class="col-sm-10">
                    <div class="col-sm-12"
                         style="display: block; font-size: 16px;line-height: 30px;padding: 5px 0;">
                        <div class="col-sm-3 footer-page-link">
                            <ul style="list-style: none;">
                                <li>
                                    <a href="#" style="color: black;">Listen Now</a>
                                </li>
                                <li>
                                    <a href="sports.php" style="color: black;">Sports</a>
                                </li>
                                <li>
                                    <a href="music.php" style="color: black;">Music</a>
                                </li>
                                <li>
                                    <a href="news.php" style="color: black;">News</a>
                                </li>
                                <li>
                                    <a href="podcasts.php" style="color: black;">Podcasts</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-3 footer-page-link">
                            <ul style="list-style: none;">
                                <li>
                                    <a href="aboutus.php" style="color: black;">About Us</a>
                                </li>
                                <li>
                                    <a href="contactus.php" style="color: black;">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#" style="color: black;">Careers</a>
                                </li>
                                <li>
                                    <a href="#" style="color: black;">Press</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-3 footer-page-link">
                            <ul style="list-style: none;">
                                <li>
                                    <h4 style="color: black;">Product</h4>
                                </li>
                                <li>
                                    <a href="#" style="color: black;">Support</a>
                                </li>
                                <li>
                                    <a href="#" style="color: black;">Devices</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-3 footer-page-link">
                            <ul style="list-style: none;">
                                <li><h4 style="color: black;">Communities</h4></li>
                                <li>
                                    <a href="#" style="color: black;">Brands</a>
                                </li>
                                <li>
                                    <a href="#" style="color: black;">Broadcasters</a>
                                </li>
                                <li>
                                    <a href="#" style="color: black;">Podcasters</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="color: #b8b4b4;">
                    <div class="col-sm-8" style="color: black;margin-top: 35px">
                        <p>© 2018 Radio Directory. All rights reserved
                            <a href="privacy.php" style="color: black;margin-left: 10px">Privacy</a>
                            <a href="terms.php" style="color: black; margin-left: 10px">Terms</a>
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-instagram"></a>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-10" style="color: black;padding-top: 30px;">
                        <P>Major League Baseball trademarks and copyrights
                            are used with permission of MLB Advanced Media, L.P. All rights
                            reserved.</P>
                    </div>
                </div>
            </div>
            <ul class="list-unstyled list-inline text-center py-2">
                <li class="list-inline-item">
                    <h5 class="mb-1" style="color: black">Register for free</h5>
                </li>
                <li class="list-inline-item">
                    <a href="signup.php" class="btn btn-default btn-rounded">Sign up!</a>
                </li>
            </ul>
        </div>
    </div>
</footer>